
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Fikka's Page</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <!-- <link href="assets/img/favicon.png" rel="icon"> -->
  <!-- <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon"> -->

  <!---jQuery CDN-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <!-- Vue js -->
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <!-- Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
  <!-- Vendor CSS Files -->
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <!-- <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet"> -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">
  <link rel="icon" href="assets/img/circle cloud.png" type="image/x-icon">

  <!-- =======================================================
  * Template Name: MyResume
  * Updated: Jan 29 2024 with Bootstrap v5.3.2
  * Template URL: https://bootstrapmade.com/free-html-bootstrap-template-my-resume/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
  <style>
    .about-card{
      background: #0563bb;
      padding: 30px;
      border-radius: 30px;
      color: white;
    }
    .about-card img {
      border-radius: 50%;
    }
    .card-body{
      padding: 10px 2px;
    }
    .card-text {
      /* display: none; */
      visibility: hidden;
      opacity: 0;
      /* height: 0; */
      transition: visibility 0.3s ease, opacity 0.5s ease ;
      
    }
    .card-title{
      transform: translateY(10px);
      transition: transform 0.5s ease ;
    }
    .card:hover .card-title{
      transform: translateY(-0px);
    }
    .card:hover img{
      transform: scale(1.1);
    }

    .card:hover .card-text {
      /* display: block; */
      visibility: visible;
      opacity: 1;
      height: 100%;
    }
    /*--------------------------------------------------------------
    # Skill Filter
    --------------------------------------------------------------*/
    .skills #skills-flters {
      padding: 0;
      margin: 0 auto 25px auto;
      list-style: none;
      text-align: center;
      background: #fff;
      border-radius: 50px;
      padding: 2px 15px;
    }

    .skills #skills-flters li {
      cursor: pointer;
      display: inline-block;
      padding: 10px 15px;
      font-size: 14px;
      font-weight: 600;
      line-height: 1;
      text-transform: uppercase;
      color: #272829;
      margin-bottom: 5px;
      transition: all 0.3s ease-in-out;
    }

    .skills #skills-flters li:hover,
    .skills #skills-flters li.filter-active {
      color: #0563bb;
    }

    .skills #skills-flters li:last-child {
      margin-right: 0;
    }
    /*
    .certif-image
    */
    .certif-image{
      width: 500px; margin: 0 auto;
    }
    @media screen and (max-width: 500px) {
      .certif-image{
        width: 300px; margin: 0 auto;
      }
    }
  </style>
</head>

<body>
<div id="app">

  <!-- ======= Mobile nav toggle button ======= -->
  <!-- <button type="button" class="mobile-nav-toggle d-xl-none"><i class="bi bi-list mobile-nav-toggle"></i></button> -->
  <i class="bi bi-list mobile-nav-toggle d-lg-none"></i>
  <!-- ======= Header ======= -->
  <header id="header" class="d-flex flex-column justify-content-center">

    <nav id="navbar" class="navbar nav-menu">
      <ul>
        <li><a href="#hero" class="nav-link scrollto active"><i class="bx bx-home"></i> <span>Home</span></a></li>
        <li><a href="#about" class="nav-link scrollto"><i class="bx bx-user"></i> <span>About</span></a></li>
        <li><a href="#resume" class="nav-link scrollto"><i class="bx bx-file-blank"></i> <span>Resume</span></a></li>
        <li><a href="#portfolio" class="nav-link scrollto"><i class="bx bx-book-content"></i> <span>Portfolio</span></a></li>
        <li><a href="#services" class="nav-link scrollto"><i class="bx bx-server"></i> <span>Services</span></a></li>
        <li><a href="#contact" class="nav-link scrollto"><i class="bx bx-envelope"></i> <span>Contact</span></a></li>
      </ul>
    </nav><!-- .nav-menu -->

  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-center">
    <div class="container" data-aos="zoom-in" data-aos-delay="100">
      <h1>{{ fullname }}</h1>
      <p>I'm a <span class="typed" data-typed-items="Programmer, Web Developer, Freelancer"></span></p>
      <div class="social-links">
        
        <a v-for="social in social" :href="social.link" :class="social.name"><i :class="social.icon"></i></a>
        
      </div>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>About</h2>
          <!-- <p>I possess knowledge and proficiency in programming languages such as HTML, CSS, PHP, Python, and JavaScript.</p> -->
        </div>

        <div class="row about-card">
          <div class="col-lg-4" style="align-self: center;">
            <img src="assets/img/IMG_4648-19.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-8 pt-4 pt-lg-0 content">
            <p style="text-align: justify; text-indent: 30px;">
              Hello, I'm Fikka Ayu Pamirtha Sary, a recent graduate from Jenderal Soedirman University with a bachelor degree in Informatics Technology. Passionate about software development, I'm well-versed in programming languages like HTML, PHP, Python, and JavaScript. My academic journey has not only equipped me with a strong technical foundation but also instilled in me the ability to collaborate effectively and solve problems creatively.
            </p>
            <p style="text-align: justify; text-indent: 30px;">
              I bring a positive and proactive approach to every project, aiming to contribute meaningfully to the world of technology. I'm excited about the prospect of applying and expanding my skills while navigating the ever-evolving landscape of software development. Welcome to my web page, where I share my journey and showcase my commitment to creating innovative and user-friendly solutions.
            </p>
            <div class="row">
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right" style="color: white;"></i> <strong>Birthday:</strong> <span>{{formattedDate}}</span></li>
                  <li><i class="bi bi-chevron-right" style="color: white;"></i> <strong>Address:</strong> <span>Banyumas, Indonesia</span></li>
                </ul>
              </div>
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right" style="color: white;"></i> <strong>Age:</strong> <span>{{calculateAge}}</span></li>
                  <li><i class="bi bi-chevron-right" style="color: white;"></i> <strong>Degree:</strong> <span>Bachelor of Computer Science</span></li>
                </ul>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Facts Section ======= -->
    <section id="facts" class="facts">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Facts</h2>
          <p>Outside of work, I enjoy activities such as playing games, reading, and watching any movies. Balancing work and personal interests is important for maintaining well-being and creativity.</p>
        </div>

        <div class="row">

          <div class="col-lg-3 col-md-6">
            <div class="count-box">
              <i class="bi bi-emoji-smile"></i>
              <span data-purecounter-start="0" data-purecounter-end="90" data-purecounter-duration="1" class="purecounter"><span></span></span>
              <p>Percent of Happiness</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-5 mt-md-0">
            <div class="count-box">
              <i class="bi bi-journal-richtext"></i>
              <span data-purecounter-start="0" :data-purecounter-end="portfolio.length" data-purecounter-duration="1" class="purecounter"></span>
              <p>Projects</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
            <div class="count-box">
              <i class="bi bi-headset"></i>
              <span data-purecounter-start="0" data-purecounter-end="40" data-purecounter-duration="1" class="purecounter"></span>
              <p>Hours per Week</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
            <div class="count-box">
              <i class="bi bi-house-heart-fill"></i>
              <span data-purecounter-start="0" data-purecounter-end="70" data-purecounter-duration="1" class="purecounter"></span>
              <p>Percents Introvert</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Facts Section -->

    <!-- ======= Skills Section ======= -->
    <section id="skills" class="skills section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Skills</h2>
          <p>Here, I'll introduce you to a variety of skills and expertise I've cultivated throughout my career journey. From web development to data analysis, let's explore the diverse skills I possess and how they can contribute to achieving your goals.</p>
        </div>
        <div class="container">

        <div class="row">
          <div class="col-lg-12 d-flex justify-content-center" data-aos="fade-up" data-aos-delay="100">
            <ul id="skills-flters">
              <li data-filter="*" class="filter-active">All</li>
              <li data-filter=".lang">Language</li>
              <li data-filter=".framework">Faramework</li>
              <li data-filter=".tools">Tools</li>
            </ul>
          </div>
        </div>

          <div class="row skills-container" data-aos="fade-up" data-aos-delay="200">
            
            <div  v-for="skill in skills">
              <div class="col-lg-3 col-md-6 col-sm-9 skills-item" :class="skill.filter" style="padding:0 5px;">
                <div class="card mb-3 border-2 rounded-15 " style="justify-content: center; max-width: 540px; padding: 10px 20px; border: #0563bb solid">
                  <div class="row no-gutters align-items-center">
                    <div class="col-md-4 col-4">
                      <img class="img-fluid" :src="skill.skill_image" style="padding:5px; transition: .5s ease;" width="85%" alt="...">
                    </div>
                    <div class="col-md-8 col-8">
                      <div class="card-body">
                        <h5 class="card-title text-black mb-0" style="font-weight: bold;">{{skill.skill_name}}</h5>
                        <p class="card-text" style="color: #0563bb; font-weight: bold;">{{skill.level}}</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
          </div>
        </div>

      </div>
    </section><!-- End Skills Section -->

        <!-- ======= Resume Section ======= -->
    <section id="resume" class="resume">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Resume</h2>
          <p>Step into my professional world through my resume section, where you'll find a concise summary, details of my education, and a comprehensive account of my professional journey.</p>
        </div>

        <div class="row">
          <div class="col-lg-6">
            <h3 class="resume-title">Sumary</h3>
            <div class="resume-item pb-0">
              <h4>{{fullname}}</h4>
              <p><em>Bachelor of Computer Science from Jenderal Soedirman University with a focus on information system. Has knowledge and expertise in HTML, CSS, PHP, Python, JavaScript, and SQL programming languages. Active involvement in student organizations has honed my teamwork and leadership abilities, while professional experiences have provided hands-on exposure to real-world challenges. I am enthusiastic about contributing my expertise to innovative projects, embracing new opportunities for growth, and making meaningful contributions to the field of technology.</em></p>
              <ul>
                <!-- <li>{{ address }}</li> -->
                <!-- <li>{{ phone }}</li> -->
                <li>{{email}}</li>
              </ul>
            </div>

            <h3 class="resume-title">Education</h3>
            
            <div class="resume-item" v-for="edu in education">
              <h4>{{edu.school}}</h4>
              <h5>{{edu.year}}</h5>
              <p><em>{{edu.degree}}</em></p>
              <ul>
                <li>{{edu.gpa}}</li>
                <li>Final project : Geographic Information System Mapping for Social Welfare Problem Bearers and Social Assistance Recipients from DINSOSDALDUKKBP3A Purbalingga Regency Based on Website using Agile Modeling Method.</li>
              </ul>
            </div>
            
          </div>
          <div class="col-lg-6">
            <h3 class="resume-title">Professional Experience</h3>
            
            <div class="resume-item" v-for="experience in experience">
              <h4>{{experience.position}}</h4>
              <h5>{{experience.year}}</h5>
              <p><em>{{experience.company}}</em></p>
              <ul>
                
                <li v-for="jobs in experience.jobdesk">{{jobs}}</li>
                
              </ul>
            </div>
            
          </div>
        </div>

        <div class="row text-center mt-3">
          <div class="col-lg-12">
            <a href="assets/Fikka Ayu Pamirtha Sary full resume - eng (2024).pdf" target="_blank" class="btn btn-primary btn-lg rounded-pill"><i class="bx bx-file-blank"></i> <span>Download My Resume</span></a>
          </div>
        </div>

      </div>
    </section><!-- End Resume Section -->

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Portfolio</h2>
          <p>Explore a collection of my finest work and projects.</p>
        </div>

        <div class="row">
          <div class="col-lg-12 d-flex justify-content-center" data-aos="fade-up" data-aos-delay="100">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">All</li>
              <li data-filter=".App">App</li>
              <!-- <li data-filter=".filter-card">Card</li> -->
              <li data-filter=".Website">Web</li>
            </ul>
          </div>
        </div>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">        
          
          <div class="col-lg-4 col-md-6 portfolio-item" :class="port.category" v-for="port in portfolio">
            <div class="portfolio-wrap">
              <img :src="port.port_image[0]" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>{{port.port_name}}</h4>
                <p>{{port.year}}</p>
                <div class="portfolio-links">
                  <a :href="port.port_image[0]" data-gallery="portfolioGallery" class="portfolio-lightbox" :title="port.port_name"><i class="bx bx-plus"></i></a>
                  <a id="sendDataButton" :foto-foto="JSON.stringify(port.port_image)" :data-data="JSON.stringify(port)" href="portfolio-details.html" class="portfolio-details-lightbox" data-glightbox="type: external" title="Portfolio Details"><i class="bx bx-link"></i></a>
                  <!-- <a href="portfolio-details.html" class=""  title="Portfolio Details"><i class="bx bx-link"></i></a> -->
                  <!-- <a href="portfolio-details.html" class="port-details-lightbox" data-glightbox="type: external" title="Portfolio Details"><i class="bx bx-link"></i></a> -->
                  

                </div>
              </div>
            </div>
          </div>
          
          

        </div>

      </div>
    </section><!-- End Portfolio Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Services</h2>
          <p>Here's what I can do for you.</p>
        </div>

        

        <div class="row" style="justify-content:center;">

          <div v-for="s in services" class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon-box iconbox-orange ">
              <div class="icon">
                <svg width="100" height="100" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">
                  <path stroke="none" stroke-width="0" :fill="s.fill" :d="s.path"></path>
                </svg>
                <i :class="s.icon"></i>
              </div>
              <h4><a href="">{{s.service_name}}</a></h4>
              <p>{{s.service_desc}}</p>
            </div>

          </div>

          <!-- <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon-box iconbox-pink">
              <div class="icon">
                <svg width="100" height="100" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">
                  <path stroke="none" stroke-width="0" fill="#f5f5f5" d="M300,541.5067337569781C382.14930387511276,545.0595476570109,479.8736841581634,548.3450877840088,526.4010558755058,480.5488172755941C571.5218469581645,414.80211281144784,517.5187510058486,332.0715597781072,496.52539010469104,255.14436215662573C477.37192572678356,184.95920475031193,473.57363656557914,105.61284051026155,413.0603344069578,65.22779650032875C343.27470386102294,18.654635553484475,251.2091493199835,5.337323636656869,175.0934190732945,40.62881213300186C97.87086631185822,76.43348514350839,51.98124368387456,156.15599469081315,36.44837278890362,239.84606092416172C21.716077023791087,319.22268207091537,43.775223500013084,401.1760424656574,96.891909868211,461.97329694683043C147.22146801428983,519.5804099606455,223.5754009179313,538.201503339737,300,541.5067337569781"></path>
                </svg>
                <i class="bx bx-tachometer"></i>
              </div>
              <h4><a href="">Magni Dolores</a></h4>
              <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box iconbox-yellow">
              <div class="icon">
                <svg width="100" height="100" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">
                  <path stroke="none" stroke-width="0" fill="#f5f5f5" d="M300,503.46388370962813C374.79870501325706,506.71871716319447,464.8034551963731,527.1746412648533,510.4981551193396,467.86667711651364C555.9287308511215,408.9015244558933,512.6030010748507,327.5744911775523,490.211057578863,256.5855673507754C471.097692560561,195.9906835881958,447.69079081568157,138.11976852964426,395.19560036434837,102.3242989838813C329.3053358748298,57.3949838291264,248.02791733380457,8.279543830951368,175.87071277845988,42.242879143198664C103.41431057327972,76.34704239035025,93.79494320519305,170.9812938413882,81.28167332365135,250.07896920659033C70.17666984294237,320.27484674793965,64.84698225790005,396.69656628748305,111.28512138212992,450.4950937839243C156.20124167950087,502.5303643271138,231.32542653798444,500.4755392045468,300,503.46388370962813"></path>
                </svg>
                <i class="bx bx-layer"></i>
              </div>
              <h4><a href="">Nemo Enim</a></h4>
              <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon-box iconbox-red">
              <div class="icon">
                <svg width="100" height="100" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">
                  <path stroke="none" stroke-width="0" fill="#f5f5f5" d="M300,532.3542879108572C369.38199826031484,532.3153073249985,429.10787420159085,491.63046689027357,474.5244479745417,439.17860296908856C522.8885846962883,383.3225815378663,569.1668002868075,314.3205725914397,550.7432151929288,242.7694973846089C532.6665558377875,172.5657663291529,456.2379748765914,142.6223662098291,390.3689995646985,112.34683881706744C326.66090330228417,83.06452184765237,258.84405631176094,53.51806209861945,193.32584062364296,78.48882559362697C121.61183558270385,105.82097193414197,62.805066853699245,167.19869350419734,48.57481801355237,242.6138429142374C34.843463184063346,315.3850353017275,76.69343916112496,383.4422959591041,125.22947124332185,439.3748458443577C170.7312796277747,491.8107796887764,230.57421082200815,532.3932930995766,300,532.3542879108572"></path>
                </svg>
                <i class="bx bx-slideshow"></i>
              </div>
              <h4><a href="">Dele Cardo</a></h4>
              <p>Quis consequatur saepe eligendi voluptatem consequatur dolor consequuntur</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon-box iconbox-teal">
              <div class="icon">
                <svg width="100" height="100" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">
                  <path stroke="none" stroke-width="0" fill="#f5f5f5" d="M300,566.797414625762C385.7384707136149,576.1784315230908,478.7894351017131,552.8928747891023,531.9192734346935,484.94944893311C584.6109503024035,417.5663521118492,582.489472248146,322.67544863468447,553.9536738515405,242.03673114598146C529.1557734026468,171.96086150256528,465.24506316201064,127.66468636344209,395.9583748389544,100.7403814666027C334.2173773831606,76.7482773500951,269.4350130405921,84.62216499799875,207.1952322260088,107.2889140133804C132.92018162631612,134.33871894543012,41.79353780512637,160.00259165414826,22.644507872594943,236.69541883565114C3.319112789854554,314.0945973066697,72.72355303640163,379.243833228382,124.04198916343866,440.3218312028393C172.9286146004772,498.5055451809895,224.45579914871206,558.5317968840102,300,566.797414625762"></path>
                </svg>
                <i class="bx bx-arch"></i>
              </div>
              <h4><a href="">Divera Don</a></h4>
              <p>Modi nostrum vel laborum. Porro fugit error sit minus sapiente sit aspernatur</p>
            </div>
          </div> -->

        </div>

      </div>
    </section><!-- End Services Section -->

    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Certificates</h2>
        </div>

        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">

          
            <div class="swiper-slide" v-for="certif in certificates">
              <div class="testimonial-item">
                <img :src="certif.image" class="certif-image" alt="">
                <h3>{{certif.certif_name}}</h3>
                <h4>{{certif.giver}}</h4>
              </div>
            </div><!-- End testimonial item -->
          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Testimonials Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Contact</h2>
        </div>

        <div class="row mt-1">

          <div class="col-lg-4">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Location:</h4>
                <p>{{address}}</p>
              </div>

              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p>{{email}}</p>
              </div>

              <!-- <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Call:</h4>
                <p>{{phone}}</p>
              </div> -->

            </div>

          </div>

          <div class="col-lg-8 mt-5 mt-lg-0">

            <form action="https://api.web3forms.com/submit" method="POST" role="form" class="php-email-form"> <!--class="php-email-form"-->
              <div class="row">
                <div class="col-md-6 form-group">
                  <input type="hidden" name="access_key" value="39b34874-73d5-4a85-a31d-30891d1268ea">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                </div>
              </div>
              <div class="form-group mt-3">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
              </div>
              <div class="form-group mt-3">
                <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>

          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <h3>{{ fullname }}</h3>
      <p>I possess knowledge and proficiency in programming languages such as HTML, CSS, PHP, Python, and JavaScript.</p>
      <div class="social-links">
        
        <a v-for="s in social" :href="s.link" :class="s.name"><i :class="s.icon"></i></a>
        
      </div>
      <div class="copyright">
        &copy; Copyright <strong><span>MyResume</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: [license-url] -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/free-html-bootstrap-template-my-resume/ -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade X Fikka</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <div id="preloader"></div>
  <a href="#hero" class="back-to-top d-flex align-items-center justify-content-center scrollto"><i class="bi bi-arrow-up-short"></i></a>
</div>
  <script src="app.js"></script>
  <!-- Vendor JS Files -->
  <!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script> -->
  <script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/typed.js/typed.umd.js"></script>
  <script src="assets/vendor/waypoints/noframework.waypoints.js"></script>
  <!-- <script src="assets/vendor/php-email-form/validate.js"></script> -->

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>
  <script>
    var buttons = document.querySelectorAll('[id="sendDataButton"]');
    buttons.forEach(function(button){
      button.addEventListener("click", function(event) {
          event.preventDefault(); // Prevent the default behavior of the anchor tag
          
          // var data = { "nama": "Sistem Bansos" };
          var data = JSON.parse(this.getAttribute("data-data"));
          var foto = JSON.parse(this.getAttribute("foto-foto"));
          var encodedData = encodeURIComponent(JSON.stringify(data)); // Encode the data
          var encodedFoto = encodeURIComponent(JSON.stringify(foto)); // Encode the data
          
          var url = this.getAttribute("href") + "?data=" + encodedData+ "&foto="+encodedFoto;
          
          window.location.href = url; // Navigate to the URL with the encoded data
      });
    });
  </script>

<!-- <script>
  // Mendapatkan elemen tombol filter
var filterButtons = document.querySelectorAll('#skills-flters li');

// Mendapatkan elemen container item
var itemsContainer = document.getElementById('.skills-container');

// Menambahkan event listener ke setiap tombol filter
filterButtons.forEach(function(button) {
    button.addEventListener('click', function() {
        var filterValue = this.getAttribute('data-filter'); // Nilai filter diambil dari teks tombol
        
        // Mengambil semua item
        var items = document.querySelectorAll('.skills-wrap');
        
        // Melakukan iterasi melalui setiap item
        items.forEach(function(item) {
            // Memeriksa apakah item sesuai dengan filter
            if (filterValue === "*" || item.getAttribute('data-filter') === filterValue) {
                item.style.display = 'block'; // Menampilkan item
            } else {
                item.style.display = 'none'; // Menyembunyikan item yang tidak sesuai
            }
        });
    });
});
</script> -->
<!-- <script>
  // Mendapatkan semua elemen li pada skills-filters
  var filterItems = document.querySelectorAll('#skills-filters li');

// Mendapatkan semua elemen skill-container
var skillContainers = document.querySelectorAll('.skills-container');

// Menambahkan event listener ke setiap elemen li pada skills-filters
filterItems.forEach(function(item) {
    item.addEventListener('click', function() {
        // Menghapus kelas 'filter-active' dari semua elemen li pada skills-filters
        filterItems.forEach(function(filterItem) {
            filterItem.classList.remove('filter-active');
        });

        // Mengambil semua item
        var items = document.querySelectorAll('.skills-wrap');

        // Menambahkan kelas 'filter-active' ke elemen li yang diklik
        this.classList.add('filter-active');

        // Mendapatkan nilai filter dari data-filter atribut elemen li yang diklik
        var filterValue = this.getAttribute('data-filter');

        // Menampilkan atau menyembunyikan elemen skill-container sesuai dengan filter
        items.forEach(function(item) {
            // Memeriksa apakah item sesuai dengan filter
            if (filterValue === "*" || item.getAttribute('data-filter') === filterValue) {
                item.style.display = 'block'; // Menampilkan item
            } else {
                item.style.display = 'none'; // Menyembunyikan item yang tidak sesuai
            }
        });
    });
});
</script> -->


</body>

</html>